mat-toolbar {
    background: #381010;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #2e557c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e7863;
    border-radius: 10px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-icon {
    margin-right: 8px;
}

.swimage {
    margin-bottom: 16px;
}