<div class="card" autosize>
<h3>Star Wars People</h3>
    <div class="card-header">
        <!-- <a class="btn btn-success" routerLink="createinvoice">Get Stuff</a> -->
    </div>
    <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="results?.length != 0" class="table table-striped table-hover row-border hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Height</th>
                    <th>Mass</th>
                    <th>Hair Color</th>
                    <th>Skin Color</th>
                    <th>Eye Color</th>
                    <th>Birth Year</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th><input type="text" placeholder="Search Name" name="search-name"/></th>
                    <th><input type="text" placeholder="Search Height" name="search-height"/></th>
                    <th><input type="text" placeholder="Search Mass" name="search-mass"/></th>
                    <th><input type="text" placeholder="Search Hair Color" name="search-hair-color"/></th>
                    <th><input type="text" placeholder="Search Skin Color" name="search-skin-color"/></th>
                    <th><input type="text" placeholder="Search Eye Color" name="search-eye-color"/></th>
                    <th><input type="text" placeholder="Search Birth Year" name="search-birth-year"/></th>
                    <th><input type="text" placeholder="Search Gender" name="search-gender"/></th>
                </tr>
            </thead>
            <tbody *ngIf="results?.length != 0">
                <tr *ngFor="let result of results">
                    <td>{{ result.name }}</td>
                    <td>{{ result.height }}</td>
                    <td>{{ result.mass }}</td>
                    <td>{{ result.hair_color }}</td>
                    <td>{{ result.skin_color }}</td>
                    <td>{{ result.eye_color }}</td>
                    <td>{{ result.birth_year }}</td>
                    <td>{{ result.gender }}</td>
                </tr>
            </tbody>
            <tbody *ngIf="results?.length == 0">
                <tr>
                  <td colspan="8" class="no-data-available">No data!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

